	

section {
	border-bottom: 1px solid gray;
	display: inline-block;
	width: 85%;
}

#nav-bar {
	float: right;
	background-color: yellow;
	display: inline-block;
	border: 2px solid gray;
	position: absolute; 
	top: 100px; 
	right: 50px;
	padding: 0px 10px 500px 10px;

}

ol {
	text-align: left;
}

code {
  background-color: #d3d3d3;
  font-family: monospace;
  font-size: 1.2em;
  line-height: 1.2em;
}
pre {
  background-color: #d3d3d3;
  white-space: pre-wrap;
  display: inline-block;
  margin: 1em;
  padding: 1em;