main {
	background-color: #ffad4c
	
}

body {
	background-color: #e8b219
}

section {
	display: inline-block;
	
	top: 69px;
	
}

img {
	border: 5px solid #ff322f;
	border-radius: 12px;
}

.pic {
	
	position: absolute;
	top: 70px;
	right: 10px;

}

h1 {
	background-color: #ff322f;
	border-radius: 12px;
	font-family: courier;
	color: #ffad4c
}

h2 {
	
}

div {
	background-color: #ffad4c;
	float: right;
}

 a {
	text-decoration: none;
	font-family: courier;
	color: #ff322f;
}

.nav-bar {
	position: absolute;
	top: 270px;
	right:10px;
	padding: 0px 20px 21% 20px;
	border: 5px solid #ff322f;
	border-radius: 12px;
}

section > img {
	width: 900px;
}

h5 {
	position: fixed;
	top: 700px;
	background-color: #e86a39
}

.link {
	position: relative;
	top: 0px;
	right:14%;
	padding: 0px 20px 39% 20px;
	border: 5px solid #ff322f;
	border-radius: 12px;
}